@charset "UTF-8";
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.search-container {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
}

.search-container h2 {
    text-align: center;
    color: #2980b9;
    margin-bottom: 30px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

form input[type="text"],
form input[type="date"] {
    width: 90%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

form button {
    width: 90%;
    padding: 10px;
    margin:15px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #21618c;
}
